body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-seri
}

footer {
    background-color: black;
    color: whitesmoke;
    padding: 20px 50px;
    text-align: center;
}